* {
    box-sizing: inherit; 
}

header {
    display: flex;
    background: #000;
    color: #fff; 
    padding: 3rem; 
    margin: 0; 
    justify-content: center; 
    text-transform: uppercase; 
    border: none;
    font-size: 30px;
    font-family: 'Yatra One', regular; 
}


body {
    margin: 0; 
    background: linear-gradient(to right, #452586, #6A359C, #804FB3, #9969C7, #B589D6);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-style: italic; 
  } 


article {
    margin: auto;
    max-width: 800px; 
    padding: 2rem; 
}

section {
  display: flex; 
  justify-content: center; 
  margin: auto; 
  max-width: 900px; 
  background:#b87333;
  border-style: groove;
  border-color: #000 
}

footer {
  display: flex; 
  color: #fff;
  background-color: #000;
  border: none; 
  margin: 0;
  padding: 2rem; 
  justify-content: center; 
}

.cover {
  width: 300px; 
  padding: 1rem;
}


.timeline {
  border-left: 1px solid hsl(0, 0%, 90%);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
  filter: blur(5px);
  transition: filter 0.3s ease-in-out;
}

.timeline .timeline-item:hover {
  filter: blur(0);
}


.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .timeline-item:after {
  background-color: hsl(0, 0%, 90%);
  left: -38px;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
}

.playlist-container {
  font-family: 'Yatra One', bold;
  font-size: 100%;
}
