* {
    box-sizing: inherit; 
}

header {
    background: #000;
    color: #fff; 
    text-align: center; 
}

body {
    margin: 0; 
    background: linear-gradient(to right, #452586, #6A359C, #804FB3, #9969C7, #B589D6); 
} 

article {
    margin: auto;
    text-align: center;
    max-width: 800px; 
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
}
